.vscode/**
.DS_Store
node_modules/**
# out/**
!out/extension.js
!out/diagnosticTreeDataProvider.js
# If you want to include source maps (good for debugging published extensions, but makes package larger):
# !out/**/*.js.map 
# Or, to include everything in out (simplest, but might include temp files if your build process creates them):
# !out/** 
src/**
*.vsix
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Include these for source maps if desired during development, but typically not in .vsix
# !out/**/*.js.map